.conteiner-main-revers {
  display: flex;
  flex-direction: column;
}

.conteiner_order {
  order: 2;
}

.special-for-you__title-wrapper {
  order: 0;
}

.popular-trainings__title-wrapper {
  order: 0;
}

.look-for-company__title-wrapper
 {
  order: 0;
 }
